/* Start coding here */
.container-contactsection {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-contactsection {
  font-size: 44px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.label-contact {
  font-size: 16px;
}

.input-contact {
  width: 589px;
  height: 48px;
  font-size: 16px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #e0e0ed;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.textarea-contact {
  width: 589px;
  height: 102px;
  font-size: 16px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #e0e0ed;
}

.button-contact {
  width: 589px;
  height: 56px;
  border-radius: 16px;
  background-color: #1a1a2c;
  color: white;
  font-size: 16px;
}

footer {
  margin-top: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-footer {
  color: #5f5f76;
}

.menu-footer {
  flex-basis: 30%;
  display: flex;
  gap: 50px;
}

.menu-footer-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.feature_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 50px;
  width: 100vw;
  
}

.feature-1,
.feature-2,
.feature-3 {
  width: 30%;
  border-radius: 24px;
  padding: 30px;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
   
}


.feature-1 h1,
.feature-2 h1,
.feature-3 h1 {
  color: #1a1a2c;
  
  font-size: 1.25rem;
  padding-top: 20px;
  }

.feature-1 p,
.feature-2 p,
.feature-3 p {
  color: #5f5f76;
  padding-top: 10px;
}

svg {
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  width: 50px;
  height: 50px;
  
}

.feature-1 {
  background-color: #d7e5f6;
}

.feature-2 {
  background-color: #d8e0fc;
}

.feature-3 {
  background-color: #e8dcf6;
}

/*-------------animate-------------*/
.feature-1:hover,
.feature-2:hover,
.feature-3:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
